* {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.body {
  position: relative; }

.credit {
  font-family: cursive, sans-serif;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0; }

.credit a {
  color: inherit; }

.layer1 {
  width: 1.5rem;
  height: 1.5rem;
  filter: blur(2px);
  box-shadow: 53vw 81vh 0px -0.17rem#fff,55vw 43vh 0px -0.39rem#fff,64vw 32vh 0px -0.17rem#fff,72vw 81vh 0px -0.36rem#fff,14vw 57vh 0px -0.09rem#fff,75vw 81vh 0px -0.2rem#fff,51vw 92vh 0px -0.38rem#fff,8vw 87vh 0px -0.04rem#fff,4vw 15vh 0px -0.19rem#fff,80vw 30vh 0px -0.11rem#fff,63vw 30vh 0px -0.21rem#fff,95vw 9vh 0px -0.04rem#fff,57vw 12vh 0px -0.26rem#fff,97vw 31vh 0px -0.19rem#fff,77vw 48vh 0px -0.01rem#fff,6vw 67vh 0px -0.27rem#fff,20vw 4vh 0px -0.09rem#fff,61vw 65vh 0px -0.34rem#fff,76vw 99vh 0px -0.13rem#fff,69vw 25vh 0px -0.27rem#fff,36vw 22vh 0px -0.15rem#fff,25vw 24vh 0px -0.07rem#fff,75vw 57vh 0px -0.23rem#fff,86vw 57vh 0px -0.25rem#fff,28vw 10vh 0px -0.16rem#fff,40vw 79vh 0px -0.33rem#fff,6vw 100vh 0px -0.4rem#fff,19vw 19vh 0px -0.12rem#fff,68vw 57vh 0px -0.32rem#fff,35vw 18vh 0px -0.02rem#fff,89vw 41vh 0px -0.28rem#fff,21vw 15vh 0px -0.19rem#fff,22vw 55vh 0px -0.04rem#fff,82vw 17vh 0px -0.36rem#fff,100vw 76vh 0px -0.29rem#fff,44vw 77vh 0px -0.16rem#fff,85vw 41vh 0px -0.01rem#fff,56vw 89vh 0px -0.24rem#fff,81vw 32vh 0px -0.22rem#fff,43vw 18vh 0px -0.22rem#fff,75vw 48vh 0px -0.03rem#fff,18vw 20vh 0px -0.16rem#fff,51vw 31vh 0px -0.32rem#fff,32vw 17vh 0px -0.11rem#fff,39vw 57vh 0px -0.21rem#fff,95vw 40vh 0px -0.39rem#fff,63vw 83vh 0px -0.14rem#fff,85vw 38vh 0px -0.27rem#fff,66vw 10vh 0px -0.33rem#fff,29vw 12vh 0px -0.18rem#fff,47vw 59vh 0px -0.08rem#fff,45vw 67vh 0px -0.18rem#fff,77vw 90vh 0px -0.39rem#fff,98vw 58vh 0px -0.22rem#fff,3vw 73vh 0px -0.4rem#fff,71vw 71vh 0px -0.05rem#fff,69vw 37vh 0px -0.15rem#fff,79vw 77vh 0px -0.4rem#fff,42vw 53vh 0px -0.03rem#fff,28vw 30vh 0px -0.39rem#fff,32vw 43vh 0px -0.31rem#fff,47vw 25vh 0px -0.07rem#fff,74vw 97vh 0px -0.4rem#fff,10vw 11vh 0px -0.15rem#fff,17vw 44vh 0px -0.2rem#fff,21vw 5vh 0px -0.19rem#fff,87vw 30vh 0px -0.04rem#fff,99vw 46vh 0px -0.13rem#fff,8vw 93vh 0px -0.36rem#fff,64vw 8vh 0px -0.03rem#fff,78vw 64vh 0px -0.36rem#fff,52vw 69vh 0px -0.35rem#fff,61vw 88vh 0px -0.36rem#fff,12vw 35vh 0px -0.09rem#fff,50vw 13vh 0px -0.11rem#fff,98vw 2vh 0px -0.38rem#fff,98vw 3vh 0px -0.23rem#fff,18vw 58vh 0px -0.22rem#fff,80vw 74vh 0px -0.23rem#fff,9vw 86vh 0px -0.15rem#fff,64vw 22vh 0px -0.01rem#fff,67vw 71vh 0px -0.05rem#fff,47vw 84vh 0px -0.28rem#fff,9vw 44vh 0px -0.23rem#fff,90vw 88vh 0px -0.17rem#fff,40vw 22vh 0px -0.08rem#fff,84vw 63vh 0px -0.18rem#fff,11vw 40vh 0px -0.36rem#fff,13vw 46vh 0px -0.08rem#fff,24vw 82vh 0px -0.32rem#fff,36vw 1vh 0px -0.34rem#fff,74vw 14vh 0px -0.17rem#fff,14vw 80vh 0px -0.36rem#fff,66vw 26vh 0px -0.06rem#fff,38vw 35vh 0px -0.09rem#fff,11vw 35vh 0px -0.12rem#fff,57vw 34vh 0px -0.21rem#fff,20vw 35vh 0px -0.28rem#fff,61vw 85vh 0px -0.15rem#fff,63vw 45vh 0px -0.11rem#fff;
  animation-duration: 6s; }

.layer1.a {
  animation-delay: 3s; }

.layer2 {
  width: 1rem;
  height: 1.35rem;
  filter: blur(3px);
  box-shadow: 21vw 93vh 0px -0.23rem#fff,43vw 40vh 0px -0.16rem#fff,55vw 91vh 0px -0.17rem#fff,51vw 95vh 0px -0.13rem#fff,65vw 26vh 0px -0.38rem#fff,46vw 82vh 0px -0.27rem#fff,10vw 97vh 0px -0.08rem#fff,84vw 10vh 0px -0.14rem#fff,36vw 14vh 0px -0.31rem#fff,7vw 80vh 0px -0.07rem#fff,55vw 89vh 0px -0.24rem#fff,18vw 36vh 0px -0.4rem#fff,57vw 23vh 0px -0.1rem#fff,24vw 81vh 0px -0.01rem#fff,6vw 47vh 0px -0.07rem#fff,80vw 54vh 0px -0.32rem#fff,56vw 60vh 0px -0.17rem#fff,36vw 27vh 0px -0.09rem#fff,78vw 30vh 0px -0.17rem#fff,93vw 87vh 0px -0.4rem#fff,47vw 17vh 0px -0.09rem#fff,56vw 32vh 0px -0.39rem#fff,39vw 32vh 0px -0.39rem#fff,12vw 68vh 0px -0.12rem#fff,76vw 91vh 0px -0.24rem#fff,79vw 75vh 0px -0.19rem#fff,42vw 56vh 0px -0.4rem#fff,44vw 83vh 0px -0.04rem#fff,47vw 20vh 0px -0.11rem#fff,55vw 30vh 0px -0.27rem#fff,8vw 71vh 0px -0.16rem#fff,49vw 51vh 0px -0.17rem#fff,11vw 43vh 0px -0.36rem#fff,20vw 36vh 0px -0.17rem#fff,58vw 57vh 0px -0.23rem#fff,57vw 31vh 0px -0.06rem#fff,76vw 69vh 0px -0.1rem#fff,42vw 71vh 0px -0.34rem#fff,9vw 46vh 0px -0.19rem#fff,64vw 80vh 0px -0.17rem#fff,6vw 67vh 0px -0.12rem#fff,84vw 38vh 0px -0.4rem#fff,21vw 91vh 0px -0.2rem#fff,1vw 66vh 0px -0.3rem#fff,8vw 71vh 0px -0.26rem#fff,77vw 30vh 0px -0.31rem#fff,63vw 54vh 0px -0.01rem#fff,65vw 34vh 0px -0.11rem#fff,58vw 72vh 0px -0.07rem#fff,8vw 22vh 0px -0.17rem#fff,76vw 96vh 0px -0.36rem#fff,18vw 62vh 0px -0.23rem#fff,49vw 50vh 0px -0.23rem#fff,34vw 54vh 0px -0.21rem#fff,60vw 57vh 0px -0.16rem#fff,78vw 71vh 0px -0.34rem#fff,78vw 76vh 0px -0.35rem#fff,4vw 19vh 0px -0.08rem#fff,76vw 57vh 0px -0.13rem#fff,54vw 47vh 0px -0.3rem#fff,95vw 93vh 0px -0.03rem#fff,50vw 49vh 0px -0.05rem#fff,84vw 12vh 0px -0.13rem#fff,98vw 12vh 0px -0.34rem#fff,51vw 16vh 0px -0.31rem#fff,28vw 64vh 0px -0.15rem#fff,42vw 98vh 0px -0.24rem#fff,21vw 76vh 0px -0.26rem#fff,93vw 65vh 0px -0.22rem#fff,44vw 21vh 0px -0.27rem#fff,47vw 24vh 0px -0.33rem#fff,37vw 6vh 0px -0.05rem#fff,23vw 26vh 0px -0.29rem#fff,30vw 67vh 0px -0.07rem#fff,71vw 42vh 0px -0.23rem#fff,96vw 24vh 0px -0.31rem#fff,66vw 90vh 0px -0.01rem#fff,8vw 78vh 0px -0.12rem#fff,56vw 96vh 0px -0.27rem#fff,40vw 71vh 0px -0.36rem#fff,54vw 82vh 0px -0.29rem#fff,55vw 63vh 0px -0.32rem#fff,47vw 19vh 0px -0.39rem#fff,62vw 73vh 0px -0.16rem#fff,32vw 4vh 0px -0.11rem#fff,41vw 8vh 0px -0.15rem#fff,4vw 13vh 0px -0.22rem#fff,2vw 18vh 0px -0.12rem#fff,76vw 57vh 0px -0.13rem#fff,96vw 98vh 0px -0.3rem#fff,32vw 9vh 0px -0.15rem#fff,9vw 15vh 0px -0.25rem#fff,80vw 30vh 0px -0.28rem#fff,86vw 33vh 0px -0.06rem#fff,10vw 76vh 0px -0.04rem#fff,1vw 33vh 0px -0.31rem#fff,96vw 14vh 0px -0.07rem#fff,64vw 80vh 0px -0.37rem#fff,93vw 20vh 0px -0.02rem#fff,34vw 98vh 0px -0.05rem#fff;
  animation-duration: 8s; }

.layer2.a {
  animation-delay: 4s; }

.layer3 {
  width: 1.2rem;
  height: 1.2rem;
  filter: blur(4px);
  box-shadow: 90vw 2vh 0px -0.38rem#fff,55vw 29vh 0px -0.19rem#fff,53vw 83vh 0px -0.37rem#fff,5vw 4vh 0px -0.09rem#fff,10vw 51vh 0px -0.33rem#fff,34vw 43vh 0px -0.12rem#fff,26vw 32vh 0px -0.22rem#fff,63vw 39vh 0px -0.24rem#fff,20vw 86vh 0px -0.13rem#fff,36vw 31vh 0px -0.18rem#fff,14vw 54vh 0px -0.17rem#fff,36vw 10vh 0px -0.04rem#fff,46vw 57vh 0px -0.26rem#fff,84vw 30vh 0px -0.18rem#fff,68vw 98vh 0px -0.33rem#fff,26vw 94vh 0px -0.25rem#fff,58vw 57vh 0px -0.14rem#fff,22vw 80vh 0px -0.03rem#fff,67vw 97vh 0px -0.06rem#fff,23vw 20vh 0px -0.21rem#fff,47vw 61vh 0px -0.35rem#fff,43vw 24vh 0px -0.39rem#fff,83vw 39vh 0px -0.4rem#fff,89vw 38vh 0px -0.11rem#fff,97vw 2vh 0px -0.02rem#fff,21vw 74vh 0px -0.14rem#fff,36vw 43vh 0px -0.35rem#fff,86vw 93vh 0px -0.33rem#fff,69vw 88vh 0px -0.2rem#fff,42vw 28vh 0px -0.11rem#fff,75vw 26vh 0px -0.09rem#fff,62vw 98vh 0px -0.08rem#fff,1vw 64vh 0px -0.38rem#fff,95vw 63vh 0px -0.33rem#fff,43vw 19vh 0px -0.01rem#fff,77vw 15vh 0px -0.01rem#fff,35vw 62vh 0px -0.38rem#fff,83vw 73vh 0px -0.26rem#fff,38vw 1vh 0px -0.3rem#fff,100vw 22vh 0px -0.32rem#fff,87vw 46vh 0px -0.06rem#fff,44vw 38vh 0px -0.25rem#fff,61vw 78vh 0px -0.07rem#fff,23vw 21vh 0px -0.09rem#fff,32vw 84vh 0px -0.27rem#fff,78vw 49vh 0px -0.26rem#fff,76vw 1vh 0px -0.31rem#fff,69vw 19vh 0px -0.2rem#fff,56vw 29vh 0px -0.06rem#fff,34vw 35vh 0px -0.22rem#fff,86vw 71vh 0px -0.16rem#fff,96vw 77vh 0px -0.33rem#fff,97vw 54vh 0px -0.05rem#fff,76vw 13vh 0px -0.02rem#fff,88vw 7vh 0px -0.12rem#fff,92vw 46vh 0px -0.4rem#fff,19vw 99vh 0px -0.24rem#fff,70vw 64vh 0px -0.02rem#fff,97vw 56vh 0px -0.18rem#fff,65vw 74vh 0px -0.32rem#fff,80vw 42vh 0px -0.07rem#fff,84vw 16vh 0px -0.06rem#fff,29vw 92vh 0px -0.38rem#fff,88vw 77vh 0px -0.03rem#fff,21vw 18vh 0px -0.17rem#fff,67vw 71vh 0px -0.36rem#fff,4vw 61vh 0px -0.01rem#fff,93vw 60vh 0px -0.36rem#fff,58vw 42vh 0px -0.35rem#fff,7vw 47vh 0px -0.27rem#fff,8vw 58vh 0px -0.27rem#fff,5vw 9vh 0px -0.06rem#fff,51vw 57vh 0px -0.08rem#fff,17vw 31vh 0px -0.02rem#fff,84vw 65vh 0px -0.08rem#fff,67vw 92vh 0px -0.06rem#fff,58vw 61vh 0px -0.04rem#fff,35vw 27vh 0px -0.02rem#fff,50vw 94vh 0px -0.35rem#fff,29vw 21vh 0px -0.11rem#fff,25vw 83vh 0px -0.24rem#fff,32vw 82vh 0px -0.05rem#fff,43vw 58vh 0px -0.05rem#fff,62vw 40vh 0px -0.19rem#fff,54vw 29vh 0px -0.27rem#fff,54vw 48vh 0px -0.12rem#fff,10vw 79vh 0px -0.27rem#fff,78vw 4vh 0px -0.12rem#fff,64vw 43vh 0px -0.37rem#fff,97vw 51vh 0px -0.14rem#fff,53vw 20vh 0px -0.02rem#fff,47vw 85vh 0px -0.02rem#fff,30vw 70vh 0px -0.13rem#fff,71vw 77vh 0px -0.27rem#fff,45vw 31vh 0px -0.07rem#fff,27vw 6vh 0px -0.27rem#fff,71vw 25vh 0px -0.24rem#fff,39vw 50vh 0px -0.24rem#fff,11vw 45vh 0px -0.15rem#fff,51vw 40vh 0px -0.09rem#fff;
  animation-duration: 10s; }

.layer3.a {
  animation-delay: 5s; }

.main {
  width: 100%;
  text-align: center;
  font-family: 'Mountains of Christmas', cursive, sans-serif;
  position: absolute;
  top: 20vh;
  font-size: 80px;
  color: black;
  white-space: pre-wrap; }

.snow {
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.star {
  position: fixed; }

.star.star1 {
  top: 20vh;
  left: 60%; }

.star.star2 {
  top: 26vh;
  left: 30%; }

.star.star3 {
  top: 43vh;
  left: 50%; }

.star.star4 {
  top: 50vh;
  left: 70%; }

.star svg path {
  animation-name: color;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
  animation-duration: 6s; }

.star2 svg path {
  animation-delay: -1.5s; }

.star3 svg path {
  animation-delay: -3s; }

.star4 svg path {
  animation-delay: -4.5s; }

.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("assets/mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6; }

@keyframes color {
  0% {
    fill: lime; }
  15% {
    fill: fuchsia; }
  30% {
    fill: orangered; }
  45% {
    fill: dodgerblue; }
  60% {
    fill: yellow; }
  75% {
    fill: cyan; }
  90% {
    fill: red; } }
@keyframes fall {
  100% {
    transform: translate(0, 200vh); } }
@media screen and (max-width: 581px) {
  .main {
    font-size: 40px; }

  .layer1 {
    box-shadow: 60vw 52vh 0px -0.35rem#fff,79vw 10vh 0px -0.34rem#fff,32vw 31vh 0px -0.06rem#fff,79vw 65vh 0px -0.17rem#fff,47vw 37vh 0px -0.13rem#fff,34vw 35vh 0px -0.2rem#fff,69vw 76vh 0px -0.28rem#fff,61vw 63vh 0px -0.25rem#fff,25vw 17vh 0px -0.03rem#fff,35vw 18vh 0px -0.23rem#fff,8vw 10vh 0px -0.4rem#fff,10vw 76vh 0px -0.28rem#fff,51vw 19vh 0px -0.11rem#fff,95vw 98vh 0px -0.08rem#fff,88vw 45vh 0px -0.33rem#fff,67vw 30vh 0px -0.18rem#fff,84vw 28vh 0px -0.01rem#fff,53vw 18vh 0px -0.15rem#fff,75vw 93vh 0px -0.07rem#fff,86vw 47vh 0px -0.19rem#fff; }

  .layer2 {
    box-shadow: 69vw 33vh 0px -0.08rem#fff,93vw 87vh 0px -0.06rem#fff,97vw 70vh 0px -0.36rem#fff,17vw 7vh 0px -0.34rem#fff,93vw 89vh 0px -0.2rem#fff,34vw 28vh 0px -0.33rem#fff,42vw 89vh 0px -0.25rem#fff,62vw 33vh 0px -0.3rem#fff,14vw 38vh 0px -0.25rem#fff,100vw 18vh 0px -0.06rem#fff,76vw 43vh 0px -0.33rem#fff,12vw 21vh 0px -0.06rem#fff,15vw 28vh 0px -0.37rem#fff,92vw 61vh 0px -0.11rem#fff,2vw 86vh 0px -0.09rem#fff,66vw 30vh 0px -0.3rem#fff,76vw 11vh 0px -0.02rem#fff,86vw 94vh 0px -0.35rem#fff,9vw 72vh 0px -0.09rem#fff,36vw 44vh 0px -0.01rem#fff; }

  .layer3 {
    box-shadow: 44vw 67vh 0px -0.22rem#fff,62vw 19vh 0px -0.21rem#fff,78vw 86vh 0px -0.27rem#fff,39vw 20vh 0px -0.2rem#fff,8vw 63vh 0px -0.4rem#fff,75vw 55vh 0px -0.1rem#fff,5vw 39vh 0px -0.17rem#fff,100vw 26vh 0px -0.2rem#fff,67vw 21vh 0px -0.2rem#fff,70vw 73vh 0px -0.3rem#fff,18vw 38vh 0px -0.02rem#fff,61vw 94vh 0px -0.35rem#fff,58vw 69vh 0px -0.28rem#fff,42vw 21vh 0px -0.03rem#fff,2vw 19vh 0px -0.34rem#fff,13vw 88vh 0px -0.03rem#fff,7vw 99vh 0px -0.3rem#fff,78vw 70vh 0px -0.24rem#fff,8vw 61vh 0px -0.33rem#fff,28vw 99vh 0px -0.18rem#fff; } }

/*# sourceMappingURL=index.css.map */
